*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.parent{
  height: 450px;
  max-width: 550px;
  margin: 10px auto auto;
  overflow: auto;
  box-shadow: 0px 2px 4px #694498;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.card {   
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.item{
  padding: 20px;
  background: #ccc;
  margin: 10px;
  width: 340px;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
}
.item label:first-child {
  display: block;
  color: #fff;
}
.item .ball{
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: rebeccapurple;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.item .ball::after {
  content:  attr(data-content);
}
.load{
  position:absolute;
  z-index: 1;
  left: 0;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 85, 0.542);
  display: flex;
  align-items: center;
  justify-self: center;

}
.load h1{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff
}
.load.hidden {
display: none;
}
.load.visible{
  display: flex;
}
input[type='submit']{
  cursor: pointer;
}
.container-search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}